@import "tailwindcss";
@plugin "@tailwindcss/typography";
@import url('http://fonts.googleapis.com/earlyaccess/nanumgothic.css');
@font-face {
    font-family: 'ONE-Mobile-POP';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/ONE-Mobile-POP.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'SUITE-Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

* {
    font-family: 'SUITE-Regular', sans-serif;
}

:root {
    --ui-text-dimmed: var(--color-neutral-400);
    --ui-text-muted: var(--color-neutral-500);
    --ui-text-toned: var(--color-neutral-600);
    --ui-text: var(--color-neutral-700);
    --ui-text-highlighted: var(--color-neutral-900);
    --ui-text-inverted: var(--color-white);

    --ui-bg: var(--color-white);
    --ui-bg-muted: var(--color-neutral-50);
    --ui-bg-elevated: var(--color-neutral-100);
    --ui-bg-accented: var(--color-neutral-200);
    --ui-bg-inverted: var(--color-neutral-900);

    --ui-border: var(--color-neutral-200);
    --ui-border-muted: var(--color-neutral-200);
    --ui-border-accented: var(--color-neutral-300);
    --ui-border-inverted: var(--color-neutral-900);

    --ui-primary: var(--color-indigo-400);
    --ui-primary-muted: var(--color-indigo-500);
    --ui-primary-elevated: var(--color-indigo-600);
    --ui-primary-accented: var(--color-indigo-700);
    --ui-primary-inverted: var(--color-indigo-800);

    --ui-secondary: var(--color-violet-400);
    --ui-secondary-muted: var(--color-violet-500);
    --ui-secondary-elevated: var(--color-violet-600);
    --ui-secondary-accented: var(--color-violet-700);
    --ui-secondary-inverted: var(--color-violet-800);
}
  
.dark {
    --ui-text-dimmed: var(--color-neutral-500);
    --ui-text-muted: var(--color-neutral-400);
    --ui-text-toned: var(--color-neutral-300);
    --ui-text: var(--color-neutral-200);
    --ui-text-highlighted: var(--color-white);
    --ui-text-inverted: var(--color-neutral-900);

    --ui-bg: var(--color-neutral-900);
    --ui-bg-muted: var(--color-neutral-800);
    --ui-bg-elevated: var(--color-neutral-800);
    --ui-bg-accented: var(--color-neutral-700);
    --ui-bg-inverted: var(--color-white);

    --ui-border: var(--color-neutral-800);
    --ui-border-muted: var(--color-neutral-700);
    --ui-border-accented: var(--color-neutral-700);
    --ui-border-inverted: var(--color-white);

    --ui-primary: var(--color-indigo-400);
    --ui-primary-muted: var(--color-indigo-500);
    --ui-primary-elevated: var(--color-indigo-600);
    --ui-primary-accented: var(--color-indigo-700);
    --ui-primary-inverted: var(--color-indigo-800);

    --ui-secondary: var(--color-violet-400);
    --ui-secondary-muted: var(--color-violet-500);
    --ui-secondary-elevated: var(--color-violet-600);
    --ui-secondary-accented: var(--color-violet-700);
    --ui-secondary-inverted: var(--color-violet-800);
}

.action-button {
    @apply flex items-center gap-2 px-4 py-2 rounded-lg shadow-sm transition-all duration-200 cursor-pointer;
}

.action-button:hover {
    @apply bg-[var(--ui-bg-elevated)];
}

.action-button:disabled {
    @apply opacity-50 cursor-not-allowed;
}